.message {

    &-info,
    &-notice,
    &-warning {
        box-sizing: border-box;
        margin: 1em 0;
        padding: 10px 10px 10px 15px;

        a {
            color: black;
        }
    }

    &-info {
        $color: #3498db;
        color: darken($color, 20%);
        background: lighten($color, 35%);
        border-left: solid 4px $color;

        code {
            background: rgba(white, .8);
            border-color: lighten($color, 10%);
            color: darken($color, 20%);
        }
    }

    &-notice {
        $color: #f1c40f;
        color: darken($color, 20%);
        background: lighten($color, 35%);
        border-left: solid 4px $color;

        code {
            background: rgba(white, .8);
            border-color: lighten($color, 10%);
            color: darken($color, 20%);
        }
    }

    &-warning {
        $color: #e74c3c;
        color: darken($color, 20%);
        background: lighten($color, 35%);
        border-left: solid 4px $color;

        code {
            background: rgba(white, .8);
            border-color: lighten($color, 10%);
            color: darken($color, 20%);
        }
    }
}
